body{
background-color: rgb(173, 174, 132);

}adasdadad
.trigo {
    background-image: url(https://static.itdg.com.br/images/40-40/fbdc17cf67d906d28aa2450f948fa6e6/farinha-de-trigo.jpg)
    
    
}

.açucar{
    background-image: url()
}

.chocolate{
    background-image: url()
}

.leite{
    background-image: url()
}

.ovo{
    background-image: url()
}

.fermento{

 background-image: url()
}

